body{
  background-color: white;
}

h1{
	color:#b42328;
  	font-family: 'Alumni Sans Pinstripe', serif;
}

p{
	color:white;
	font-family: 'Poppins',sans-serif;
	font-weight: 600;
	line-height: 1.7rem;
}

a{
	font-style: italic;
	text-decoration: underline;
  	color:white;
}

.container {
  width: 100%;
  height: 100vh;
  overflow: auto;
  color:white;
  scroll-snap-type: y mandatory;
}

.section {
    width: 100%;
    min-height:100vh;
    scroll-snap-align:start end;
}

.scrollnav{
    background-color: rgba(0, 0, 0, 0.561);
    width:1.8rem;
    opacity: 0.2;
    position:fixed;
    top:30vh;
    right:2rem;
    z-index: 100;
    padding-right:0.21rem;
    padding-bottom:0.5rem;
    border:rgba(255, 255, 255, 0.662) solid 0.1rem;
    border-radius: 1rem;
}
    .dotbox{
        display: flex;
        flex-direction: row-reverse;
        padding:0.25rem 0.3rem;
        text-align: center;
    }

    .dotbox img{
        border-radius: 50%;
        margin-top: 0.7rem;
        padding-left: 0.2rem;
        filter: invert(100%);
        width:0.7rem;
        height:0.7rem;
    }

    .dotbox .image{
        display:none;
    }

    .dotbox a{
        text-decoration: none;
        margin-right:0.2rem;
        color:white;
    }

    .dotbox p{
        display: none;
        opacity: 0;
        font-weight: 900;
        padding:0.5rem;
        color:white;
        border: 0.1rem solid rgba(255, 255, 255, 0.616);
        border-radius: 0.7rem;
        text-align: center;
        width:2.7rem;
    }


    .scrollnav:hover{
      opacity: 1;
      animation:widen 0.5s forwards ease-in-out;
    }

    @keyframes widen{
      from{
        width:1.8rem;
      }
      to{
        width:5.7rem;
      }
    }

    .dotbox:hover a.image1{
      display:none;
    }
    
    .dotbox:hover a.image{
      display: block;
      transition-duration: 0.5s;
      transform: scale(1.2);
    }
    
    .scrollnav:hover p{
      animation-name:show;
      animation-delay: 0.3s;
      animation-duration:0.3s;
      animation-timing-function:linear;
      animation-fill-mode: forwards;
      display: block;
    }

    @keyframes show{
      from{
        opacity: 0;
      }
      to{
        opacity:1;
      }
    }

    a.buto:hover{
      background-color: white;
      border: 0.1rem solid rgba(255, 255, 255, 0.666);
      border-radius: 0.7rem;
    }

    a.buto:hover p{
      color:#020102;
    }

.section:nth-of-type(1) {
    display: flex;
	position: relative;
}

	.fronthead{
		width: 100%;
		text-align: center;
	}

	.fhead h1{
		margin:5rem auto -10rem auto;
		font-size: 1.5rem;
		font-weight:600;
		color:black;
		writing-mode: vertical-rl;
		text-orientation: upright;
	}

	.fronthead img{
		width:19.5rem;
	}

    .logoimg{
      animation: tat 2s ease-out forwards 2s;
      position:absolute;
      z-index:50;
      width:100%;
      height:100%;
    }
    /* old animation is the commented out part */
    @keyframes tat{
      from{
        /* width:100%; 
        height:100%;
        right:0rem; */
        background-color:rgb(0, 0, 0);
      }
      to{
        /* width:6rem; 
        height:6rem;
        right:1rem;      
        border-radius:1rem; */
        background-color: rgba(0, 0, 0, 0);
      }
    }

    .logoimg{
      background-color:black;
      text-align: center;
    }

    #logo{
      animation:bop 0.5s linear 3 forwards,tart 2s ease-in-out forwards 2s;
      position:absolute;
      border-radius:1rem;
      filter:invert(100);
      width:8rem;
      height:8rem;
      right:45%;
      padding-top: 15rem;
    }

    @keyframes bop{
      0%{
        transform: translateY(0.2rem);
      }
      50%{
        transform: translateY(-0.2rem);
      }
      100%{
        transform:translateY(0.2rem);
      }
    }

    @keyframes tart{
      from{
        width:8rem;
        height:8rem;
        right:45%;
        padding-top: 15rem;
      }
      to{
        width:6rem;
        height:6rem;
        right:0.2rem;
        padding-top:0rem;
      }
    }

    #spaceman{
      position: absolute;
      bottom:0;
      right:0;
      width: 40%;
      height:60%;
      filter:invert(10);
      opacity: 0.8;
    }

    #goldord{
      position: absolute;
      top:0;
      left:1vw;
      width:90vw;
      filter:invert(0.8);
      opacity:0.1;
    }


.section:nth-of-type(2),.section:nth-of-type(3){
    position: relative;
	display: flex;
	align-items:center;
	background: #EDEEF2;
	background-image: url(images/back3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

    .heading h1{
        text-align: center;
		color: black;
		font-weight: 500;
		font-size:3rem;
		width: 100%;
        height: fit-content;
        padding-top:0.5rem;
		margin:0 auto;;
    }

    .cardbox{
		size: 100%;
        padding:1vh 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .card{
        width:25%;
        min-height:23rem;
		margin:1rem;
        padding:1rem;
		text-align:center;
        background-color: #b42328;
        border-radius: 1rem;
        box-shadow: 0rem 0rem 1rem rgb(103, 103, 103);
    }

    .H1{
        background-color: #EDEEF2;
		width:120%;
        height:5%;
        font-size:5vw;
        border-radius:0.5rem;
    }

    .border{
        text-align:center;
        margin-top:2vh;
        box-sizing: border-box;
        /* background-color:#0201020c; */
        border-radius:0.5rem;
    }

    .Par{
		min-height:7.5rem;
        text-align: left;
        background-color:#0201021b;
        font-size:0.9rem;
        padding:0 0.7rem;
        /* margin-top:3vh; */
        border-radius:0.5rem;
    }

    .sdl{
        width:60%;
        background-color: rgba(159, 159, 159, 0.66);
        padding:0.4rem;
		margin-bottom:3vh;
        border-radius: 0.5rem;
    }

    .lang{
        width:80%;
        background-color: rgba(119, 136, 153, 0.103);
        padding:0.5rem;
		margin-bottom:2vh;
        border-radius: 1rem;
    }

    .chef{
        width:80%;
        background-color:rgba(0, 0, 0, 0.184);
        padding:0.6rem;
		margin-bottom:3vh;
        border-radius: 0.5rem;
    }

    .book{
		width:50%;
		margin-bottom:1vh;
        border-radius: 0.5rem;
	}

	.cycle{
		width:70%;
		margin-bottom:0.2vh;
        border-radius: 0.5rem;
	}

	.hand{
		width:68%;
		margin-bottom:4vh;
		border-radius: 1rem;
		box-shadow: 0rem 0rem 0.5rem white;
        border-radius: 0.5rem;
	}

@media (max-width:880px){

	.container{
		scroll-snap-type: y proximity;
	}

    .cardbox{
        width:80%;
        margin:0 auto;
    }

	.H1{
		font-size:5vw;	
	}

    .card{
        width:50%;
    }

    .Par{
        padding:1rem 1rem;
    }
}

@media (max-width:550px){

	.container{
		scroll-snap-type: y proximity;
	}

    .card{
        min-height:15rem;
        width:65%;
    }

	.H1{
		font-size:5vw;	
	}

    .Par{
		margin-top:1vh;
        font-size:3vw;
    }

    .book{
        width:35%;
    }

    .cycle{
        width:50%;
    }

    .hand{
        width:50%;
    }
}

/* .container .section:nth-of-type(3){ 
	position: relative;
	height: 100vh;
	background: #c31432;  
	background: -webkit-linear-gradient(to right, #240b36, #c31432);  
	background: linear-gradient(to right, #240b36, #c31432);
}

	.heading{
		position: relative;
		font-size:3rem;
		width: fit-content;
		padding:2rem;
		top:0.5rem;
		margin:0 auto;
		background-color: azure;
	}

	.footing{
		background-color: azure;
		position: relative;
		font-size:3rem;
		width: fit-content;
		padding:2rem;
		bottom:0.5rem;
		margin:0 auto;
	}

	.cardbox{
		width:100%;
		height:50%;
		padding:2rem 0;
		top:25vh;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}

	.card{
		width:30%;
		height:fit-content;
		position: relative;
		background-color: rgba(0, 0, 0, 0.29);
		border-radius: 1rem;
		box-shadow: 0rem 0rem 0.5rem white;
	}

	.card h1{
		font-size:4rem;
		padding:1rem;
	}

	.card p{
		font-size:1.2rem;
		padding:1rem;
		padding-top:8.5rem;
	}

	.card img{
	position: absolute;
	}

	.book{
		top: 12%;
		left:17.5%;
		width:50%;
	}

	.cycle{
		transform: scale(2);
		height:23%;
		top: 4.7rem;
		left: 6rem;
	}

	.hand{
		width:68%;
		top:4.6rem;
		left:3rem;
		border-radius: 1rem;
		box-shadow: 0rem 0rem 0.5rem white;
	}
	

.container .section:nth-of-type(4){
  background: #c31432;  
  background: -webkit-linear-gradient(to right, #240b36, #c31432);  
  background: linear-gradient(to right, #240b36, #c31432); /
  position:relative;
}

    form{
      width:40%;
      padding:0.5rem;
      position:absolute;
      inset:5rem 7rem 5rem 1rem;
      background-color:rgba(0, 0, 0, 0.293);
      border-radius:0.5rem;
      box-shadow: 0rem 0rem 0.5rem rgba(255, 255, 255, 0.498);
    }

    .inputfield{
      display: block;
      background-color: #454545b0;
      font-family:"Poppins",sans-serif;
      font-weight: 600;
      margin:0.5rem;
      padding:0.5rem;
      border-radius:0.5rem;
    }


    .inputfield input,textarea{
      width:80%;
      margin-top:0.5rem;
      background-color: rgb(226, 226, 226);
    }

    #submit{
      width:5rem;
      height:3rem;
      margin-left:1rem;
      background-image:url("images/send_FILL0_wght400_GRAD0_opsz48.svg");
      background-position:center;
      background-repeat: no-repeat;
      background-size: 2.8rem;
      border-radius:0.5rem;
      filter: invert(100) brightness(0.9);
    }

    #submit:hover{
      transition-duration: 0.7s;
      transform: scale(1.1);
    }

    .lastside{
      width:fit-content;
      position:absolute;
      right:1rem;
      background-color: rgba(0, 0, 0, 0.502);
    }

    .lastside h1{
      padding-top: 1.5vh;
    }

    .lastside p{
      background-color: rgba(128, 128, 128, 0.211);
      border-radius: 1.7rem;
      width:70%;
      right:2rem;
      top:1rem;
    }

    .contact-m{
      display:flex;
      width:fit-content;
      margin-left: 35%;
      margin-top: 75vh;
      background-color: rgba(0, 0, 0, 0.358);
      padding:0.5rem;
      border-radius:1rem;
    }

    .contact-media{
      background-color: rgba(240, 248, 255, 0.247);
      border-radius: 0.5rem;
      filter:invert(100);
    }

    .contact-media img{
      width:1.8rem;
      height:1.8rem;
    }

    .contact-media1{
      border-radius: 0.1rem;
      margin-left:1rem;
      filter:invert(100);
    }

    .contact-media1 img{
      width:2rem;
      height:2rem;
      padding:0.1rem;
    }
 */
