body{
  background-color: #020102;
}

h1{
  font-family: 'Alumni Sans Pinstripe', serif;
}

p{
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
  line-height: 1.7rem;
}

a{
  text-decoration: none;
  color:rgb(192, 3, 255);
}

.container {
  width: 100%;
  height: 100vh;
  overflow: auto;
  color:white;
  scroll-snap-type: y mandatory;
}

.section {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}

.scrollnav{
    background-color: rgba(0, 0, 0, 0.561);
    width:1.8rem;
    opacity: 0.2;
    position:fixed;
    top:30vh;
    right:2rem;
    z-index: 100;
    padding-right:0.21rem;
    padding-bottom:0.5rem;
    border:rgba(255, 255, 255, 0.662) solid 0.1rem;
    border-radius: 1rem;
}
    .dotbox{
        display: flex;
        flex-direction: row-reverse;
        padding:0.25rem 0.3rem;
        text-align: center;
    }

    .dotbox img{
        border-radius: 50%;
        margin-top: 0.7rem;
        padding-left: 0.2rem;
        filter: invert(100%);
        width:0.7rem;
        height:0.7rem;
    }

    .dotbox .image{
        display:none;
    }

    .dotbox a{
        text-decoration: none;
        margin-right:0.2rem;
        color:white;
    }

    .dotbox p{
        display: none;
        opacity: 0;
        font-weight: 900;
        padding:0.5rem;
        color:white;
        border: 0.1rem solid rgba(255, 255, 255, 0.616);
        border-radius: 0.7rem;
        text-align: center;
        width:2.7rem;
    }


    .scrollnav:hover{
      opacity: 1;
      animation:widen 0.5s forwards ease-in-out;
    }

    @keyframes widen{
      from{
        width:1.8rem;
      }
      to{
        width:5.7rem;
      }
    }

    .dotbox:hover a.image1{
      display:none;
    }
    
    .dotbox:hover a.image{
      display: block;
      transition-duration: 0.5s;
      transform: scale(1.2);
    }
    
    .scrollnav:hover p{
      animation-name:show;
      animation-delay: 0.3s;
      animation-duration:0.3s;
      animation-timing-function:linear;
      animation-fill-mode: forwards;
      display: block;
    }

    @keyframes show{
      from{
        opacity: 0;
      }
      to{
        opacity:1;
      }
    }

    a.buto:hover{
      background-color: white;
      border: 0.1rem solid rgba(255, 255, 255, 0.666);
      border-radius: 0.7rem;
    }

    a.buto:hover p{
      color:#020102;
    }

.container .section:nth-of-type(1) {
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    position: relative;
}

    .sidebar{
        background-color: rgba(0, 0, 0, 0.428);
        width:fit-content;
        height:99vh;
        position:relative;
        border: solid rgba(255, 255, 255, 0.571) 0.1rem;
        border-radius: 2rem;
        box-shadow: 0rem 0rem 0.4rem white;
    }

    .sidebar h1{
        font-size:5rem;
        padding: 1rem;
    }

    .sidebar p{         
        position:absolute;
        bottom:1rem;
		font-size:3.5vh;
        padding: 1rem;
    }

    .dialogue{
      width:25%;
      height:15%;
      position: absolute;
      top:30%;
      left:48%;
      z-index: 2;
      border:0.1rem solid white;
      background-color: rgba(0, 0, 0, 0.318);
      border-radius: 2rem;
      padding:1rem;
    }

    .dialogue p:nth-of-type(1){
      z-index: 3;
      animation:fade-out 1s 8s linear forwards;
    }
/* use hover */
    .dialogue p:nth-of-type(2){
      width:100%;
      position: absolute;
      top:20%;
      opacity: 0;
      animation: fade-in 1s 10s linear forwards,fade-out 1s 18s linear forwards;
      z-index: 4;
    }

    .dialogue p:nth-of-type(3){
      width:95%;
      position: absolute;
      top:8%;
      opacity: 0;
      animation: fade-in 1s 19s linear forwards,fade-out 1s 27s linear forwards;
      z-index: 5;
    }

    .dialogue p:nth-of-type(4){
      width:95%;
      position: absolute;
      top:8%;
      opacity: 0;
      animation: fade-in 1s 28s linear forwards;
      z-index: 6;
    }

    @keyframes fade-in{
      from{
        opacity:0;
      }
      to{
        opacity:1;
      }
    }

    @keyframes fade-out{
      from{
        opacity:1
      }
      to{
        opacity:0;
      }
    }

    .logoimg{
      animation: tat 2s ease-out forwards 2s;
      position:absolute;
      z-index:50;
      width:100%;
      height:100%;
    }
    /* old animation is the commented out part */
    @keyframes tat{
      from{
        /* width:100%; 
        height:100%;
        right:0rem; */
        background-color:rgb(0, 0, 0);
      }
      to{
        /* width:6rem; 
        height:6rem;
        right:1rem;      
        border-radius:1rem; */
        background-color: rgba(0, 0, 0, 0);
      }
    }

    .logoimg{
      background-color:black;
      text-align: center;
    }

    #logo{
      animation:bop 0.5s linear 3 forwards,tart 2s ease-in-out forwards 2s;
      position:absolute;
      border-radius:1rem;
      filter:invert(100);
      width:8rem;
      height:8rem;
      right:45%;
      padding-top: 15rem;
    }

    @keyframes bop{
      0%{
        transform: translateY(0.2rem);
      }
      50%{
        transform: translateY(-0.2rem);
      }
      100%{
        transform:translateY(0.2rem);
      }
    }

    @keyframes tart{
      from{
        width:8rem;
        height:8rem;
        right:45%;
        padding-top: 15rem;
      }
      to{
        width:6rem;
        height:6rem;
        right:0.2rem;
        padding-top:0rem;
      }
    }

    #spaceman{
      position: absolute;
      bottom:0;
      right:0;
      width: 40%;
      height:60%;
      filter:invert(10);
      opacity: 0.8;
    }

    #goldord{
      position: absolute;
      top:0;
      left:1vw;
      width:90vw;
      filter:invert(0.8);
      opacity:0.1;
    }


.container .section:nth-of-type(2){
    background: #c31432; 
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  
    background: linear-gradient(to right, #240b36, #c31432);
	position: relative;
}
    .heading{
		position: absolute;
		font-size:3rem;
		width: fit-content;
		padding:2rem;
		top:-2vh;
		right:40%;
		margin:0 auto;
    }

    .footing{
        position: absolute;
		font-size:3rem;
		width: fit-content;
		padding:2rem;
		bottom:0.5vh;
		right:40%;
		margin:0 auto;
    }

    .cardbox{
		size: 100% ;
        padding:11vh 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .card{
        width:30%;
        height:70vh;
		margin:1rem;
		text-align:center;
        background-color: rgba(0, 0, 0, 0.29);
		background-color: black;
        border-radius: 1rem;
        box-shadow: 0rem 0rem 0.5rem white;
    }

    .card h1{
        font-size:10vh;
    }

    .card p{
		text-align: left;
        font-size:2.9vh;
        padding-top:1vh;
		padding-left:1vh;
    }

    .sdl{
      width:55%;
      background-color: rgba(119, 136, 153, 0.66);
      padding:0.4rem;
      border-radius: 0.5rem;
    }

    .lang{
      width:70%;
      height:23%;
      background-color: rgba(119, 136, 153, 0.162);
      padding:0.2rem;
      border-radius: 0.5rem;
    }

    .chef{
      width:80%;
      background-color:rgba(0, 0, 0, 0.184);;
      padding:0.6rem;
      border-radius: 0.5rem;
    }

/* .container .section:nth-of-type(3){ 
	position: relative;
	height: 100vh;
	background: #c31432;  
	background: -webkit-linear-gradient(to right, #240b36, #c31432);  
	background: linear-gradient(to right, #240b36, #c31432);
}

	.heading{
		position: relative;
		font-size:3rem;
		width: fit-content;
		padding:2rem;
		top:0.5rem;
		margin:0 auto;
		background-color: azure;
	}

	.footing{
		background-color: azure;
		position: relative;
		font-size:3rem;
		width: fit-content;
		padding:2rem;
		bottom:0.5rem;
		margin:0 auto;
	}

	.cardbox{
		width:100%;
		height:50%;
		padding:2rem 0;
		top:25vh;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}

	.card{
		width:30%;
		height:fit-content;
		position: relative;
		background-color: rgba(0, 0, 0, 0.29);
		border-radius: 1rem;
		box-shadow: 0rem 0rem 0.5rem white;
	}

	.card h1{
		font-size:4rem;
		padding:1rem;
	}

	.card p{
		font-size:1.2rem;
		padding:1rem;
		padding-top:8.5rem;
	}

	.card img{
	position: absolute;
	}

	.book{
		top: 12%;
		left:17.5%;
		width:50%;
	}

	.cycle{
		transform: scale(2);
		height:23%;
		top: 4.7rem;
		left: 6rem;
	}

	.hand{
		width:68%;
		top:4.6rem;
		left:3rem;
		border-radius: 1rem;
		box-shadow: 0rem 0rem 0.5rem white;
	}
	

.container .section:nth-of-type(4){
  background: #c31432;  
  background: -webkit-linear-gradient(to right, #240b36, #c31432);  
  background: linear-gradient(to right, #240b36, #c31432); /
  position:relative;
}

    form{
      width:40%;
      padding:0.5rem;
      position:absolute;
      inset:5rem 7rem 5rem 1rem;
      background-color:rgba(0, 0, 0, 0.293);
      border-radius:0.5rem;
      box-shadow: 0rem 0rem 0.5rem rgba(255, 255, 255, 0.498);
    }

    .inputfield{
      display: block;
      background-color: #454545b0;
      font-family:"Poppins",sans-serif;
      font-weight: 600;
      margin:0.5rem;
      padding:0.5rem;
      border-radius:0.5rem;
    }


    .inputfield input,textarea{
      width:80%;
      margin-top:0.5rem;
      background-color: rgb(226, 226, 226);
    }

    #submit{
      width:5rem;
      height:3rem;
      margin-left:1rem;
      background-image:url("images/send_FILL0_wght400_GRAD0_opsz48.svg");
      background-position:center;
      background-repeat: no-repeat;
      background-size: 2.8rem;
      border-radius:0.5rem;
      filter: invert(100) brightness(0.9);
    }

    #submit:hover{
      transition-duration: 0.7s;
      transform: scale(1.1);
    }

    .lastside{
      width:fit-content;
      position:absolute;
      right:1rem;
      background-color: rgba(0, 0, 0, 0.502);
    }

    .lastside h1{
      padding-top: 1.5vh;
    }

    .lastside p{
      background-color: rgba(128, 128, 128, 0.211);
      border-radius: 1.7rem;
      width:70%;
      right:2rem;
      top:1rem;
    }

    .contact-m{
      display:flex;
      width:fit-content;
      margin-left: 35%;
      margin-top: 75vh;
      background-color: rgba(0, 0, 0, 0.358);
      padding:0.5rem;
      border-radius:1rem;
    }

    .contact-media{
      background-color: rgba(240, 248, 255, 0.247);
      border-radius: 0.5rem;
      filter:invert(100);
    }

    .contact-media img{
      width:1.8rem;
      height:1.8rem;
    }

    .contact-media1{
      border-radius: 0.1rem;
      margin-left:1rem;
      filter:invert(100);
    }

    .contact-media1 img{
      width:2rem;
      height:2rem;
      padding:0.1rem;
    }
 */
